/* Location Cards */
.LocationCard {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid #3D3A4B;
  margin: 30px 0px;
  box-sizing: border-box;
}

.LocationCard h3 {
  background-color: #3D3A4B;
  font-family: 'Bowlby One SC', cursive;
  color: #fff;
  padding: 15px 0px;
  margin: 0px;
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .LocationCard h3 {
    font-size: 2rem;
  }
}

.CardBody {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 1.35rem;
  font-family: 'Open Sans', sans-serif;
}

.GMap {
  display: inline-block;
  position: relative;
  width: 60%;
  height: 400px;
}

.MapContainer {
  display: block;
  width: 100%;
  height: 100%;
}

.ScheduleBox {
  display: inline-block;
  position: relative;
  width: 40%;
  height: auto;
}

.ScheduleTbl {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .ScheduleTbl {
    height: 100%;
  }
}

.ScheduleTbl thead {
  background-color: #937666;
}

.Row1, .Row3 {
  background-color: #D3C0CD;
}

.Row2 {
  background-color: #B19994;
}
/* /Location Cards */
