/* Global Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("../Resources/Fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"), url("../Resources/Fonts/Montserrat-SemiBold.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #4a4a56;
}
body .NoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  display: block;
  top: 0px;
  height: auto;
  width: 100%;
  z-index: 5;
  background-color: #dee3e6;
}
nav .NavContent {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
nav .NavContent #TopLogo {
  align-self: baseline;
  position: relative;
  display: block;
  height: 80px;
  width: auto;
  margin: 10px 10px;
}
nav .NavContent button {
  align-self: center;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0px 10px;
  padding: 0px;
  border: none;
  border-radius: 3px;
  fill: #2f2f37;
  background-color: #dee3e6;
  transition: fill 0.2s ease, background-color 0.2s ease;
}
nav .NavContent button.Open {
  fill: #dee3e6;
  background-color: #4a4a56;
}
nav .NavContent .NavLinks {
  display: none;
}
nav .NavActions {
  position: relative;
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
  padding-left: 100px;
}
nav .NavActions .Actions {
  flex: 0 0 50px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav .NavActions .Actions li {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
  fill: #4a4a56;
}
nav .NavActions .Actions li a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
nav .NavActions .Links {
  flex: 1 0 110px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: auto;
  margin: 0px 0px 0px 25px;
  padding: 0px;
  list-style: none;
}
nav .NavActions .Links li {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  border-left: 3px solid #2f2f37;
  font-size: 1em;
  font-weight: 600;
  color: #2f2f37;
}
nav .NavActions .Links li a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
nav .NavActions.Open {
  display: flex;
}

main {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  padding: 0px;
  background-color: #fff;
}
main .Container {
  position: relative;
  height: auto;
  width: 100%;
  margin: 50px auto;
}
main .Row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: auto;
  width: 100%;
  overflow-x: auto;
}
main .Col {
  position: relative;
  height: auto;
  width: auto;
}
main .Col.Col-1 {
  width: 8.3333333333%;
}
main .Col.Col-2 {
  width: 16.6666666666%;
}
main .Col.Col-3 {
  width: 25%;
}
main .Col.Col-4 {
  width: 33.3333333333%;
}
main .Col.Col-5 {
  width: 41.6666666666%;
}
main .Col.Col-6 {
  width: 50%;
}
main .Col.Col-7 {
  width: 58.3333333333%;
}
main .Col.Col-8 {
  width: 66.6666666666%;
}
main .Col.Col-9 {
  width: 75%;
}
main .Col.Col-10 {
  width: 83.3333333333%;
}
main .Col.Col-11 {
  width: 91.6666666666%;
}
main .Col.Col-12 {
  width: 100%;
}
main .SplashScreen {
  position: relative;
  display: block;
  height: calc(100vh - 50px);
  width: 100%;
}
main .SplashScreen .SplashText {
  position: absolute;
  display: block;
  height: 50%;
  width: 100%;
  padding: 50px;
  z-index: 2;
}
main .SplashScreen .SplashText h2 {
  position: relative;
  display: block;
  margin: 60px 0px 20px;
  font-size: 2em;
  font-weight: 600;
  color: #2f2f37;
}
main .SplashScreen .SplashText h4 {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: 600;
  color: #2f2f37;
}
main .SplashScreen .SplashImg {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("/Resources/Images/IndexSplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
}
main .SplashScreen .SplashImg .SplashOverlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}
main .SplashScreen .SplashImg .SplashOverlay button {
  align-self: center;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 10px 50px;
  font-size: 1.5em;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease, background-color 0.2s ease;
}
main .SplashScreen .SplashImg .SplashOverlay button:hover {
  color: #4a4a56;
  background-color: #fff;
}
main .SplashScreen .SplashVideo {
  display: none;
}

footer {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  background-color: #dee3e6;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav .NavContent {
    justify-content: center;
  }
  nav .NavContent #TopLogo {
    height: 100px;
  }
  nav .NavContent button {
    display: none;
  }
  nav .NavContent .NavLinks {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
  }
  nav .NavContent .NavLinks li {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    margin: 0px 20px;
    padding: 0px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #2f2f37;
    transition: color 0.2s ease;
  }
  nav .NavContent .NavLinks li:hover {
    color: #5f5f6d;
  }
  nav .NavContent .NavLinks li a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }

  main .SplashScreen .SplashImg {
    display: none;
  }
  main .SplashScreen .SplashVideo {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  main .SplashScreen .SplashVideo video {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    margin: 0px auto;
    margin-left: 50vw;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.8);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav .NavContent .NavLinks li {
    margin: 0px 30px;
    font-size: 1.2em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav .NavContent .NavLinks li {
    margin: 0px 40px;
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=master.css.map */
