@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("../Resources/Fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat-Italic"), url("../Resources/Fonts/Montserrat-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"), url("../Resources/Fonts/Montserrat-SemiBold.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body main {
  min-height: 80vh;
  padding-top: 50px;
}
@media (min-width: 992px) {
  body main {
    padding-top: 90px;
  }
}
body main.no-pad-mob {
  padding-top: 0px;
}
@media (min-width: 767px) {
  body main.no-pad-mob {
    padding-top: 90px;
  }
}
body main.no-pad {
  padding-top: 0px;
}
body nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  background-color: #dee3e6;
}
body nav .nav-content {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}
body nav .nav-content #nav-logo {
  align-self: baseline;
  position: relative;
  margin: 10px 0px;
}
@media (min-width: 767px) {
  body nav .nav-content #nav-logo {
    margin: 5px 0px;
  }
}
body nav .nav-content #nav-logo img {
  position: relative;
  height: 80px;
}
@media (min-width: 767px) {
  body nav .nav-content #nav-logo img {
    height: 100px;
  }
}
@media (min-width: 767px) {
  body nav .nav-content #nav-toggle {
    display: none;
  }
}
body nav .nav-content .nav-links {
  display: none;
}
@media (min-width: 767px) {
  body nav .nav-content .nav-links {
    display: block;
    width: 102px;
  }
}
body nav .nav-menu {
  position: relative;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding-left: 100px;
}
body nav .nav-menu.active {
  display: flex;
}
@media (min-width: 767px) {
  body nav .nav-menu.active {
    display: none;
  }
}
body nav .nav-menu .nav-menu-actions {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50px;
}
body nav .nav-menu .nav-menu-links {
  flex: 0 0 200px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin: 0px 0px 0px 25px;
}
body nav .nav-menu .nav-menu-links li {
  border-left: 3px solid #2f2f37;
}
body nav .nav-menu .nav-menu-links li a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
body button, body a.btn {
  color: #2f2f37;
  background-color: #dee3e6;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.25em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1em;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
body button:hover, body button:focus, body a.btn:hover, body a.btn:focus {
  color: #525260;
  background-color: #dee3e6;
}
body button.toggle.active, body a.btn.toggle.active {
  color: #dee3e6;
  background-color: #4a4a56;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.25em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1em;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
body button.toggle.active:hover, body button.toggle.active:focus, body a.btn.toggle.active:hover, body a.btn.toggle.active:focus {
  color: white;
  background-color: #4a4a56;
}
body header {
  position: relative;
  height: calc(95vh);
  width: 100%;
  overflow: hidden;
  color: #2f2f37;
  background-color: #dee3e6;
}
body header .header-title {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 25%;
  padding: 0px 20px;
  z-index: 3;
}
@media (min-width: 1200px) {
  body header .header-title {
    padding: 0px 20%;
  }
}
body header .header-backdrop {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
body header .header-backdrop .header-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.4);
}
body header .header-backdrop img {
  position: absolute;
  height: 100%;
}
@media (min-width: 992px) {
  body header .header-backdrop img:not(:last-child) {
    display: none;
  }
}
body header .header-backdrop video {
  display: none;
  height: 100%;
}
@media (min-width: 992px) {
  body header .header-backdrop video {
    display: block;
  }
}
body header .header-action {
  position: relative;
  height: auto;
  width: 170px;
  bottom: 20%;
  margin: 0px auto;
  z-index: 3;
}
@media (min-width: 767px) {
  body header .header-action {
    display: none;
  }
}
body header .header-action a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1em;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0px;
}
body header .header-action a:hover, body header .header-action a:focus {
  color: #2f2f37;
  background-color: #ffffff;
}
body h1 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 2em;
  color: inherit;
}
body h2 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 1.5em;
  color: inherit;
}
body h3 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 1.3em;
  color: inherit;
}
body h4 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 1.1em;
  color: inherit;
}
body h5 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 0.9em;
  color: inherit;
}
body section {
  position: relative;
  height: auto;
  width: 100%;
  color: #2f2f37;
  background-color: #ffffff;
}
body section .section-content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px 0px;
}
body section .section-content .section-header {
  flex: 0 0 100%;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 20px 0px;
  text-align: center;
}
body section .section-content .section-body {
  flex: 2 1 50%;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  position: relative;
  padding: 20px;
  max-width: 100%;
}
@media (min-width: 767px) {
  body section .section-content .section-body {
    padding: 20px 60px;
  }
}
body section .section-content .section-body p {
  padding: 10px 0px;
}
body section .section-content .section-aside {
  flex: 1 0 300px;
  position: relative;
  display: none;
  padding: 20px 60px;
}
@media (min-width: 767px) {
  body section .section-content .section-aside {
    display: block;
  }
}
body section .section-content .section-aside img {
  position: relative;
  height: auto;
  width: 100%;
}
body section .section-content .section-figure {
  flex: 1 0 100%;
  position: relative;
  display: block;
}
@media (min-width: 767px) {
  body section .section-content .section-figure {
    padding: 0px 60px;
  }
}
@media (min-width: 992px) {
  body section .section-content .section-figure {
    flex: 1 0 50%;
    padding: 0px 30px;
  }
}
@media (min-width: 1200px) {
  body section .section-content .section-figure {
    flex: 0 0 40%;
    padding: 30px;
  }
}
body section .section-content .section-figure img {
  position: relative;
  height: auto;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
@media (min-width: 992px) {
  body section .section-content .section-figure img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
body section .section-content .section-footer {
  flex: 1 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body section .section-content .section-footer img {
  position: relative;
  height: auto;
  width: 80px;
  margin: 50px auto 0px;
  padding: 20px 0px;
}
body section .section-aside img {
  filter: drop-shadow(1px 1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(-1px 1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(1px -1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(-1px -1px 50px rgba(74, 74, 86, 0.25));
}
body section.dark .section-aside img {
  filter: drop-shadow(1px 1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(-1px 1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(1px -1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(-1px -1px 50px rgba(255, 255, 255, 0.25));
}
body section.dark {
  position: relative;
  height: auto;
  width: 100%;
  color: #ffffff;
  background-color: #4a4a56;
}
body section.dark .section-content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px 0px;
}
body section.dark .section-content .section-header {
  flex: 0 0 100%;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 20px 0px;
  text-align: center;
}
body section.dark .section-content .section-body {
  flex: 2 1 50%;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  position: relative;
  padding: 20px;
  max-width: 100%;
}
@media (min-width: 767px) {
  body section.dark .section-content .section-body {
    padding: 20px 60px;
  }
}
body section.dark .section-content .section-body p {
  padding: 10px 0px;
}
body section.dark .section-content .section-aside {
  flex: 1 0 300px;
  position: relative;
  display: none;
  padding: 20px 60px;
}
@media (min-width: 767px) {
  body section.dark .section-content .section-aside {
    display: block;
  }
}
body section.dark .section-content .section-aside img {
  position: relative;
  height: auto;
  width: 100%;
}
body section.dark .section-content .section-figure {
  flex: 1 0 100%;
  position: relative;
  display: block;
}
@media (min-width: 767px) {
  body section.dark .section-content .section-figure {
    padding: 0px 60px;
  }
}
@media (min-width: 992px) {
  body section.dark .section-content .section-figure {
    flex: 1 0 50%;
    padding: 0px 30px;
  }
}
@media (min-width: 1200px) {
  body section.dark .section-content .section-figure {
    flex: 0 0 40%;
    padding: 30px;
  }
}
body section.dark .section-content .section-figure img {
  position: relative;
  height: auto;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
@media (min-width: 992px) {
  body section.dark .section-content .section-figure img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
body section.dark .section-content .section-footer {
  flex: 1 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body section.dark .section-content .section-footer img {
  position: relative;
  height: auto;
  width: 80px;
  margin: 50px auto 0px;
  padding: 20px 0px;
}
body section.dark .section-aside img {
  filter: drop-shadow(1px 1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(-1px 1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(1px -1px 50px rgba(74, 74, 86, 0.25)) drop-shadow(-1px -1px 50px rgba(74, 74, 86, 0.25));
}
body section.dark.dark .section-aside img {
  filter: drop-shadow(1px 1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(-1px 1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(1px -1px 50px rgba(255, 255, 255, 0.25)) drop-shadow(-1px -1px 50px rgba(255, 255, 255, 0.25));
}
body footer {
  position: relative;
  border-top: 30px solid #58b2e4;
  background-color: #2f2f37;
}
body footer .footer-content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 20px 0px;
}
@media (min-width: 1200px) {
  body footer .footer-content {
    justify-content: center;
  }
}
body footer .footer-content a.btn {
  color: #dee3e6;
  background-color: #2f2f37;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.25em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1em;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
body footer .footer-content a.btn:hover, body footer .footer-content a.btn:focus {
  color: white;
  background-color: #2f2f37;
}
body footer .footer-content .footer-links {
  flex: 1 0 110px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 200px;
}
body footer .footer-content .footer-actions {
  flex: 0 0 50px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 50px;
}
@media (min-width: 767px) {
  body footer .footer-content .footer-actions .btn.btn-phone {
    display: none;
  }
}
body footer .footer-content .footer-info {
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5em;
  flex: 0 0 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #c5ced3;
}
body footer .footer-content .footer-info img {
  height: 50px;
  width: 50px;
}
body .index-prog .index-prog-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}
body .index-prog .index-prog-row .index-prog-icon {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 30px;
  color: #4a4a56;
  background-color: #fff;
}
body .index-prog .index-prog-row .index-prog-list {
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  flex: 0 0 120px;
  margin: 0px auto;
  list-style: square;
}
body .index-prog .index-prog-row .index-prog-list li {
  padding: 3px 0px;
}
body .index-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 3px solid currentColor;
}
body .index-link a {
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: currentColor;
}
body .index-test .index-test-list {
  display: block;
}
@media (min-width: 1200px) {
  body .index-test .index-test-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
body .index-test .index-test-list li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
@media (min-width: 1200px) {
  body .index-test .index-test-list li {
    flex: 0 0 30%;
    margin: 0px;
  }
}
body .index-test .index-test-list li:first-child {
  margin-top: 0px;
}
body .index-test .index-test-list li img {
  flex: 2 0 100px;
  display: none;
  height: auto;
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 992px) {
  body .index-test .index-test-list li img {
    display: block;
  }
}
@media (min-width: 1200px) {
  body .index-test .index-test-list li img {
    margin-right: 0px;
  }
}
body .index-test .index-test-list li blockquote {
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  font-style: italic;
  flex: 1 1 80%;
  padding: 10px 0px;
}
body .index-test .index-test-list li p {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  flex: 0 0 100%;
}
body .training-prog .training-prog-list {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
body .training-prog .training-prog-list li {
  flex: 0 0 100%;
  position: relative;
  height: 400px;
  border-bottom: 1px solid #dee3e6;
  flex: 0 0 100%;
  padding: 25px;
}
@media (min-width: 767px) {
  body .training-prog .training-prog-list li {
    flex: 0 0 320px;
    padding: 25px 10px;
  }
}
@media (min-width: 992px) {
  body .training-prog .training-prog-list li {
    flex: 0 0 400px;
  }
}
body .training-prog .training-prog-list li:last-child {
  flex: 0 0 100%;
}
body .training-prog .training-prog-list img {
  position: relative;
  display: block;
  height: 200px;
  width: auto;
  margin: 0px auto;
  padding: 10px 25px;
}
body .puppies-gallery {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 30px;
}
body .puppies-gallery img {
  flex: 100%;
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding: 0px 5px;
  overflow: auto;
}
@media (min-width: 767px) {
  body .puppies-gallery img {
    flex: 0 0 50%;
  }
}
@media (min-width: 992px) {
  body .puppies-gallery img {
    flex: 0 0 25%;
  }
}
body .news-info .news-info-list {
  position: relative;
  height: auto;
  width: 100%;
}
body .news-info .news-info-list li {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  padding: 40px 0px;
  border-bottom: 1px solid #dee3e6;
}
body .news-info .news-info-list img {
  flex: 0 0 100%;
  height: 200px;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  body .news-info .news-info-list img {
    flex: 0 0 200px;
    margin-bottom: 0px;
  }
}
body .news-info .news-info-list .news-info-list-item-body {
  position: relative;
}
@media (min-width: 992px) {
  body .news-info .news-info-list .news-info-list-item-body {
    flex: 1 1 60%;
  }
}
body .news-info .news-info-list .news-info-list-item-body small {
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
  text-align: right;
  color: #c5ced3;
}
body .location-info {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
body .location-info .location-info-address {
  flex: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;
  color: #5f5f6d;
  cursor: pointer;
}
body .location-info .location-info-address ::-moz-selection {
  background-color: none;
}
body .location-info .location-info-address ::selection {
  background-color: none;
}
body .location-info .location-info-address svg {
  margin-left: 10px;
}
body .location-info .location-info-address.animate {
  animation-name: AnimPulse;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: AnimPulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@keyframes AnimPulse {
  0% {
    transform: scale(1, 1);
    color: #5f5f6d;
  }
  50% {
    transform: scale(1.1, 1.1);
    color: #58b2e4;
  }
  100% {
    transform: scale(1, 1);
    color: #5f5f6d;
  }
}
@-webkit-keyframes AnimPulse {
  0% {
    transform: scale(1, 1);
    color: #5f5f6d;
  }
  50% {
    transform: scale(1.1, 1.1);
    color: #58b2e4;
  }
  100% {
    transform: scale(1, 1);
    color: #5f5f6d;
  }
}
body .location-info .location-info-schedule {
  flex: 0 0 100%;
  margin: 30px 0px;
}
@media (min-width: 992px) {
  body .location-info .location-info-schedule {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    flex: 0 0 35%;
  }
}
body .location-info .location-info-schedule ul {
  position: relative;
  margin-top: 15px;
  color: #4a4a56;
}
body .location-info .location-info-schedule li {
  margin-bottom: 15px;
  border-bottom: 1px solid #dee3e6;
}
body .location-info .location-info-schedule p {
  color: #2f2f37;
}
body .location-info .location-info-map {
  flex: 0 0 100%;
  position: relative;
  height: auto;
  width: 100%;
  margin: 30px 0px;
}
@media (min-width: 992px) {
  body .location-info .location-info-map {
    flex: 0 0 60%;
  }
}
body .location-info .location-info-map iframe {
  display: block;
  height: 450px;
  width: 100%;
}
@media (min-width: 767px) {
  body .location-info .location-info-map iframe {
    height: 550px;
  }
}
body .location-info .location-info-gallery {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
body .location-info .location-info-gallery .location-info-gallery-column {
  flex: 100%;
  max-width: 100%;
  padding: 0px 5px;
}
@media (min-width: 767px) {
  body .location-info .location-info-gallery .location-info-gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  body .location-info .location-info-gallery .location-info-gallery-column {
    flex: 25%;
    max-width: 25%;
  }
}
body .location-info .location-info-gallery img {
  width: 100%;
  margin-top: 10px;
  vertical-align: middle;
}
body .contact-list .contact-list-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}
body .contact-list .contact-list-row .contact-list-icon {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 30px;
  color: #4a4a56;
  background-color: #fff;
}
body .contact-faq {
  position: relative;
  height: auto;
  width: 100%;
  margin: 50px 0px;
}
body .contact-faq .contact-faq-list .contact-faq-list-item {
  margin: 30px 0px;
}
body .contact-faq .contact-faq-sublist {
  padding-left: 10px;
  list-style-type: square;
}
@media (min-width: 767px) {
  body .contact-faq .contact-faq-sublist {
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  body .contact-faq .contact-faq-sublist {
    padding-left: 40px;
  }
}
body .contact-faq .contact-faq-sublist li {
  margin: 8px;
}

/*# sourceMappingURL=master.css.map */
