/* Breeding Card */
.BreedingCard {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid #3D3A4B;
  box-sizing: border-box;
  overflow: hidden;
}

.BreedingCard h2 {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  color: #fff;
  padding: 15px 0px 15px 10px;
  margin: 0px;
  background-color: #3D3A4B;
  font-family: 'Bowlby One SC', cursive;
}

.BreedingCard img {
  position: relative;
  height: auto;
  width: 100%;
}
/* /Breeding Card */
