/* Training Icons */
.TrainingIcons {
    display: block;
    background-color: #B19993;
    padding: 10px;
    border: 5px solid #3D3A4B;
}

.TrainingIcons img {
  display: block;
  width: auto;
  height: 200px;
}

.TrainingIcons h2 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
  .TrainingIcons {
      height: 240px;
  }
  .TrainingIcons h2 {
    font-size: 1.5rem;
  }
  .TrainingIcons img{
    height: 150px
  }
}

@media screen and (min-width: 768px) {
  .TrainingIcons {
      height: 275px;
  }
  .TrainingIcons h2 {
    font-size: 1.6rem;
  }
  .TrainingIcons img{
    height: 180px
  }
}

@media screen and (min-width: 992px) {
  .TrainingIcons {
      height: 280px;
      padding: 5px;
  }
  .TrainingIcons h2 {
    font-size: 1.6rem;
  }
  .TrainingIcons img{
    height: 180px
  }
}

@media screen and (min-width: 1200px) {
  .TrainingIcons {
      height: 300px;
      padding: 5px;
  }
  .TrainingIcons h2 {
    font-size: 2rem;
  }
  .TrainingIcons img{
    height: 200px
  }
}
/* /Training Icons */
/* Table */
table, td, th {
  border-color: #3D3A4B !important;
  border-width: 2px !important;
  font-family: 'Open Sans', sans-serif;
}

th {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background-color: #3D3A4B;
  text-align: center;
}

td {
  font-size: 20px;
  font-weight: bold;
}
/* /Table */

/* Locations */
#LocationsWrap {
  position: relative;
  width: 100%;
  height: auto;
}

.PhotoContainers {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 15px 0px;
  overflow: hidden;
  border: 3px solid #3D3A4B;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

#ImgChino {
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: url("../Images/Photos/ChinoHills.jpg");
  background-size: 100% auto;
  background-position: 50% 45%;
  transition: transform .5s;
  transform-origin: 50% 50%;
  background-repeat: no-repeat;
}

#ImgOrange {
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: url("../Images/Photos/Orange.jpg");
  background-size: 100% auto;
  background-position: 50% 60%;
  transition: transform .5s;
  transform-origin: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 496px) {
    #ImgOrange, #ImgChino {
      background-size: auto 100%;
    }
  }

.PhotoOverlay {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  top: 0px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s;
  font-family: 'Open Sans', sans-serif;
}

.PhotoOverlay h2{
  font-size: 50px;
  color: #3D3A4B;
  margin-bottom: 10px;
  margin-top: 20px;
}

.PhotoOverlay p{
  font-size: 25px;
  color: #3D3A4B;
}

.PhotoOverlay ul {
  list-style: none;
}

.PhotoOverlay:hover {
  opacity: 1;
}

.PhotoContainers {
  transition: transform .5s;
  transform-origin: 50% 50%;
}

#LocationChino:hover #ImgChino{
  transform: scale(1.1);
}

#LocationOrange:hover #ImgOrange{
  transform: scale(1.1);
}

@media (hover: none) {
  .PhotoOverlay {
    opacity: 1;
  }
}

@media screen and (max-width: 575px) {
  .PhotoOverlay h2{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .PhotoOverlay p{
    font-size: 20px;
    color: #3D3A4B;
    font-weight: bold;
  }
}

@media screen and (max-width: 496px) {
  .PhotoOverlay h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .PhotoOverlay p{
    font-size: 20px;
    margin: 5px;
    color: #3D3A4B;
    font-weight: bold;
  }
}
/* /Locations */

/* FAQ */
.FAQ {
  margin: 15px 0px;
  font-size: 115%;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.Question {
  font-size: 120%;
  font-weight: bold;
}

.Answer {
  margin-bottom: 30px;
}
/* /FAQ */
