@import './global/global';
@import './utils/utils';
@import './components/components';

body {
    @include main;
    @include nav;
    @include buttons;
    @include header;
    @include titles;
    @include sections;
    @include footer;

    @include index;
    @include training;
    @include puppies;
    @include news;
    @include location;
    @include contact;

    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}